/* mobile & tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet {
        display: none;
    }

    .header{
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    
    .header__search{
        display: none;
    }


    .app__container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__navbar{
        display: none;
    }

    .app__content{
        padding-top: 8px;
    }


    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0px;
        background-color: var(--white-color);
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after{
        display: none;
    }

    .header__sort-bar{
        display: flex;
    }

    .mobile-category{
        display: block;
    }

    

}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
        }
    .hide-on-mobile{
        display: none;
    }
    .header__cart{
        width: 80px;
        text-align: right;
    }

    .header-logo,
    .header-state
    {
        font-size: 20px;
    }

    .cart{
        height: 100%;
    }

    

    .cart-item{
        border-radius: 10px;
        margin-top: 0;
        padding: 0;
    }

    .cart-list-item{
        width: 100%;
        display: block;
    }

    .cart-img{
        width: 100%;
        height: 200px;
    }

    .cart-description{
        width: 100%;
        flex-wrap: wrap;
        display: block;
    }

    .cart-sub-description {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .cart-buy{
        width: 100%;
        position: relative;
    }

    .cart-delete{
        bottom: 0;
    }

    .cart-contain{
        position: relative;
    }

    .back-home {
        bottom: 0px;
        top: auto;
        color: var(--white-color);
        right: auto;
    }

    .cart-list, .cart-list-buy {
        width: 88%;
    }

    .cart-list-confirm{
        position:static;
        width: 100%;
        height: 100%;
    }

    .cart-item-confirm{
        padding: 30px 0;
    }

    .confimation-form{
        width: 100%;
    }

    .title-confirm{
        margin-bottom: 20px;
    }

    .form-confirmation{
        position: static;
    }

    .form-confimation-input{
        width: 100%;
    }

    .form-confimation-input-item{
        width: 49%;
    }

    .cart-list-buy{
        width: 100%;
        text-align: center;
    }

    .cart-subtitle{
        word-wrap: break-word;
    }

    .descontain{
        position: static;
        left: 0;
        padding: 0;
    }

    .description-main{
        display: block;
    }

    .slider-contain{
        width: 100%;
        margin-top: 20px;
    }

    .slider {
        margin-bottom: 0;
        position: relative;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .share{
        display: none;
    }

    .descripton-main-item:not(:last-child){
        margin-right: 0;
    }

    .buy-product{
        position: static;
    }

    .buy-product {
        bottom: 14%;
        right: -5px;
    }

    .description-product {
        max-height: 600px;
        font-size: 1.6rem;
        line-height: 20px;
        overflow-y: scroll;
    }

    .container-modal.active {
        overflow-y: scroll;
        height: auto;
        display: block;
    }

    .close{
        z-index: 1000;
        bottom: -25%;
        font-size: 2rem;
        width: 100%;
        left: 45%;
    }


}



@media (max-width: 739px){
    .grid.wide{
        height: 100%;
    }

    .grid.wide.descontain{
        height: auto;
    }

    :root {
        --header-height: 54px;
        --navbar-height: 0px;
        }
    .hide-on-mobile{
        display: none;
    }

    .header-with-search{
        justify-content: space-between;
    }

    .header__cart{
        width: unset;
    }

    .header__logo{
        width: unset;
    }

    .header__mobile-search{
        padding: 0 12px;
    }

    .header__search{
        position: fixed;
        top: var(--header-with-search-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 9;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s ;
        display: none;
    }

    .header__search-history{
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
    }

    .header-logo,
    .header-state
    {
        font-size: 16px;
    }

    .header-content{
        margin: 0 14px;
    }

    .auth-form{
       width: 350px; 
       margin-top: 10%;
    }

    .pagination-item__link{
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .pagination-item{
        margin: 0;
    }

    .app__content{
        margin: 0 4px;
    }

    .header__mobile-search-icon{
        display: block;
    }

    .mobile-category{
        display: block;
    }

    .header__logo-img{
        width: 110px;
    }


    .auth-form__heading{
        font-size: 1.4rem;
    }

    .auth-form__switch-btn{
        font-size: 1.2rem;
    }

    .footer__content{
        padding: 0 16px;
    }

    .footer__heading{
        text-align: center;
    }

    .footer-item{
        text-align: center;
    }

    .footer__download-apps{
        flex: unset;
    }

    .footer__download{
        justify-content: center;
    }

    .footer__download-apps__link{
        display: block;
        padding: 6px 8px;
    }

    .cart{
        height: 100%;
    }

    

    .cart-item{
        border-radius: 10px;
        margin-top: 0;
        padding: 0;
    }

    .cart-list-item{
        width: 100%;
        display: block;
    }

    .cart-img{
        width: 100%;
        height: 200px;
    }

    .cart-description{
        width: 100%;
        flex-wrap: wrap;
        display: block;
    }

    .cart-sub-description {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .cart-buy{
        width: 100%;
        position: relative;
    }

    .cart-delete{
        bottom: 0;
    }

    .cart-contain{
        position: relative;
    }

    .back-home {
        bottom: 0px;
        top: auto;
        color: var(--white-color);
        right: auto;
    }

    .cart-list, .cart-list-buy {
        width: 88%;
    }

    .cart-list-confirm{
        position:static;
        width: 100%;
        height: 100%;
    }

    .cart-item-confirm{
        padding: 30px 0;
    }

    .confimation-form{
        width: 100%;
    }

    .title-confirm{
        margin-bottom: 20px;
    }

    .form-confirmation{
        position: static;
    }

    .form-confimation-input{
        width: 100%;
    }

    .form-confimation-input-item{
        width: 49%;
    }

    .cart-list-buy{
        width: 100%;
        text-align: center;
    }

    .cart-subtitle{
        word-wrap: break-word;
    }

    .descontain{
        left: 0;
        padding: 0;
    }

    .description-main{
        display: block;
    }

    .slider-contain{
        width: 100%;
        margin-top: 20px;
    }

    .slider {
        margin-bottom: 0;
        position: relative;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .share{
        display: none;
    }

    .descripton-main-item:not(:last-child){
        margin-right: 0;
    }

    .buy-product {
        position: absolute;
        bottom: 14%;
        right: 25%;
    }

    .description-product {
        max-height: 300px;
        font-size: 1.6rem;
        line-height: 20px;
        overflow-y: scroll;
    }

    .container-modal.active {
        overflow-y: scroll;
        height: auto;
        display: block;
    }

    .close{
        position: absolute;
        z-index: 1000;
        bottom: 10%;
        font-size: 2rem;
        width: 100%;
        left: 0;
    }
    

    @keyframes mobileSearchSideIn {
        from{
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to{
            top: var(--header-height);
            opacity: 1;
        }
    }
}